<!-- Contact Section -->
    <section id="contact">
      <div>
        <h2>Contact Me</h2>
        <hr>
        <div>
          <div>
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" novalidate>
              <div>
                <div>
                  <label>Name</label>
                  <input id="name" type="text" placeholder="Name" required data-validation-required-message="Please enter your name.">
                  <p></p>
                </div>
              </div>
              <div>
                <div>
                  <label>Email Address</label>
                  <input id="email" type="email" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">
                  <p></p>
                </div>
              </div>
              <div>
                <div>
                  <label>Phone Number</label>
                  <input id="phone" type="tel" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number.">
                  <p></p>
                </div>
              </div>
              <div>
                <div>
                  <label>Message</label>
                  <textarea id="message" rows="5" placeholder="Message" required data-validation-required-message="Please enter a message."></textarea>
                  <p></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div>
                <button type="submit" id="sendMessageButton">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>