<div class="ui stackable center aligned grid">
    <div class="three column row">
        <div class="column black-board" style="background-image: ">
            <h2>Location</h2>
            <p>서울시 서대문구 동교로292
                <br>마포정육점</p>
            <table cellpadding="0" cellspacing="0" style="max-width: 100%;">
                <tr>
                    <td style="border:1px solid #cecece;">
                        <a href="http://naver.me/Grxtbce2" target="_blank">
                            <img src="http://prt.map.naver.com/mashupmap/print?key=p1505976828812_1092066008"
                                 style="max-width: 100%; height: auto; vertical-align:top;" alt="지도 크게 보기"
                                 title="지도 크게 보기" border="0"/></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="column deep-black-board">
            <h2>CONTACT</h2>
            <a href="http://pf.kakao.com/_xmxmuixl">
                <img src="https://www.shareicon.net/download/64x64/2015/10/07/114013_media_512x512.png">
            </a>
            <a href="mailto:jihunmtmeat@gmail.com">
                <img src="https://www.shareicon.net/download/64x64/2015/10/07/114048_media_512x512.png">
            </a>
        </div>
        <div class="column black-board">
            <h2>Tel</h2>
            <p>
                <a href="tel:010-3737-0424">
                    <i></i>
                    010-3737-0424
                </a><br/>
                <a href="tel:010-9899-5514">
                    <i></i>
                    010-9899-5514
                </a>
            </p>
        </div>
        <div>
            <div class="column black-board">
                Copyright &copy; Jihun MT meat
            </div>
        </div>
    </div>
</div>

