<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지훈이네 MT 고기</title>

    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    {{ form.media }}
</head>
<body>
    <form method="POST" action="/orders/new">
        {% csrf_token %}
        {% for key, value in meat_order_list.items %}
        {{key}} :  <input type="number" name="{{key}}" value="{{value}}"><br>
        {% endfor %}
        <br>
        {{ form.as_p }}
        <button type="submit">결제하기</button>
    </form>

</body>
</html>