
<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}

    {{ form.media }}
</head>

<body id="page-top">
{% include 'nav_bar.html' %}

<!-- Contact Section -->
<section id="contact">
    <br/>
    <br/>
    <div class="container">
        <h2 class="text-center">주문자 정보 입력</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form id="orderForm" method="post" action="/orderers/login/" novalidate>
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>이름</label>
                            {{ form.name.errors }}
                            {{ form.name }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Email</label>
                            {{ form.email.errors }}
                            {{ form.email }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>비밀번호</label>
                            {{ form.password.errors }}
                            {{ form.password }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button id="sendOrderButton" type="submit" class="btn btn-success btn-lg">완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<br/>
{% load static %}
<script src="{% static 'js/order.js' %}"></script>
</body>
</html>
