<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    {{ form.media }}
</head>

<body>

<div id="login">
    {% include 'nav_bar.html' %}
    <div class="highlight-border">
        <div class="white-board">
            <h2><span class="highlight-text">주문자 정보</span>를 작성해주세요.</h2>
            <form id="orderForm" method="post" action="/orderers/login/" novalidate>
                <div class="deep-white-board">

                    {% csrf_token %}
                    <div class="input-box">
                        <div class="input-label">
                            이름
                        </div>
                        <div class="ui large input">
                            {{ login_form.name.errors }}
                            {{ login_form.name }}
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-label">
                            이메일
                        </div>
                        <div class="ui large input">
                            {{ login_form.email.errors }}
                            {{ login_form.email }}
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-label">
                            비밀번호
                        </div>
                        <div class="ui large input">
                            {{ login_form.password.errors }}
                            {{ login_form.password }}
                        </div>
                    </div>
                    {% if status == False %}
                        <p>
                            입력하신 정보와 일치하는 정보가 없습니다.
                        </p>
                    {% endif %}
                </div>
                <button id="sendOrderButton" type="submit">주문확인</button>
            </form>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/order.js' %}"></script>

</body>
</html>
