<!DOCTYPE html>
<html>
  <head>
    <title>Jihun's MT Meat</title>
    {% include 'head.html' %}
    {% load static %}
  </head>

  <body id="page-top">
    {% include 'nav_bar.html' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="{% static 'img/meat.jpg' %}" alt="">
        <div class="intro-text">
          <span class="name">JIHUN'S MT MEAT</span>
          <hr class="star-light">
          <span class="skills">Hansung Univ</span>
        </div>
      </div>

      <form method="post" action="/ordermeats/new/">
        {% csrf_token %}
        {% for meat_info in meat_price_list %}
        <div id="{{ meat_info.name }}" class="form-group">
          <div class="btn btn-md btn-outline">{{ meat_info.name }}</div>
          <span class="btn btn-md btn-outline">{{ meat_info.price }}</span>
          <input type="number" onchange="calculateTotalPrice()" class="btn btn-md btn-outline" name="{{ meat_info.name }}" value="0">
          <button type="button" class="btn btn-md btn-outline">+</button>
          <button type="button" class="btn btn-md btn-outline">-</button>
        </div>
        {% endfor %}
        <div class="btn btn-lg btn-outline">
          합계 $<span id="total">0</span>
        </div>
        <br/>
        <input type="submit" class="btn btn-md btn-outline" value="주문하기">
      </form>

    </header>

    {% include 'footer.html' %}

    <script>
          $("button").on("click", function() {
            var $button = $(this);
            var oldValue = $button.parent().find("input").val();


            if ($button.text() == "+") {
              var newVal = parseFloat(oldValue) + 1;
            }
            else {
              // Don't allow decrementing below zero
              if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
              } else {
                newVal = 0;
              }
            }

            $button.parent().find("input").val(newVal);

            /* Calculate Total Price */
            calculateTotalPrice();
          });
          function calculateTotalPrice(){
              var 삼겹가격 = $("#삼겹 span").text();
              var 목살가격 = $("#목살 span").text();
              var 삼겹개수 = $("#삼겹 input").val();
              var 목살개수 = $("#목살 input").val();
              var totalPrice = 삼겹가격 * 삼겹개수 + 목살가격 * 목살개수;
              $("#total").text(totalPrice);
          }
    </script>
  </body>

</html>
