{% load static %}
<div style="margin: 30px;">
    <h2 class="highlight-text">
        OUR MENU
    </h2>
    MT, 워크샵, 동호회 모임 등 대량 주문시, <br/>
    쉽게 예약하고 저렴하게 맛있는 고기를 드실 수 있습니다.
</div>
<div class="stackable equal width center aligned ui grid">
    {% for two_meat_price in meat_price_list_by_two %}
        {% for meat_price in two_meat_price %}
        <div class="seven wide column meatInfoBox">
            <img class="ui fluid image" src="{{ meat_price.image.url }}">
            <p>{{ meat_price.explain }} <span class="highlight-text">{{ meat_price.name }}</span></p>
            <p>{{ meat_price.price }} 원</p>
        </div>
        {% endfor %}
    {% endfor %}
</div>
