{% load static %}
<div style="margin: 30px;">
    <h2 class="highlight-text">
        OUR MENU
    </h2>
    MT, 워크샵, 동호회 모임 등 대량 주문시, <br/>
    쉽게 예약하고 저렴하게 맛있는 고기를 드실 수 있습니다.
</div>
<div class="stackable equal width center aligned ui grid">
    <div class="seven wide column meatInfo">
        <img class="ui fluid image" src="{% static 'img/meat.jpg' %}">
        <p>쫄깃쫄깃 소주와 함께 맛있는 <span class="highlight-text">삼겹살</span></p>
        <h3>7800원</h3>
    </div>
    <div class="seven wide column meatInfo">
        <img class="ui fluid image" src="{% static 'img/meat.jpg' %}">
        <p>부들부들 맥주와 함께 맛있는 <span class="highlight-text">목살</span></p>
        <h3>7800원</h3>
    </div>
</div>
