<!-- Navigation -->
<nav id="mainNav">
    <div>
        <a href="/">Jihun's MT Meat</a>
        <button type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i></i>
        </button>
        <div id="navbarResponsive">
          <ul>
            <li>
              <a href="/orderers/login/">주문 확인</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
    </div>
</nav>