<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}

    {% load static %}
    <script src="{% static 'css/datetimepicker.css' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>

    {{ form.media }}
</head>

<body id="page-top">
{% include 'nav_bar.html' %}

<!-- Contact Section -->
<section id="contact">
    <br/>
    <br/>
    <div>
        <h2>주문 정보 입력</h2>
        <div>
            <div>
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form id="orderForm" method="post" action="/orders/new/" novalidate>
                    {% csrf_token %}
                    <div>
                        <div>
                            <label>이름</label>
                            {{ orderer_form.name.errors }}
                            {{ orderer_form.name }}
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Email</label>
                            {{ orderer_form.email.errors }}
                            {{ orderer_form.email }}
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>연락처</label>
                            {{ orderer_form.phone_number.errors }}
                            {{ orderer_form.phone_number }}
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>비밀번호</label>
                            {{ orderer_form.password.errors }}
                            {{ orderer_form.password }}
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>비밀번호 확인</label>
                            <input type="password" id="password_confirm" placeholder="비밀번호 확인"
                                data-validation-matches-match="password"
                                data-validation-matches-message="비밀번호가 다릅니다.">
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>고기 수령 날짜</label>
                            {{ order_form.eating_date.errors }}
                            {{ order_form.eating_date }}
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>배달 장소</label>
                            {{ order_form.delivery_location.errors }}
                            {{ order_form.delivery_location }}
                            <p></p>
                        </div>
                    </div>
                    <br>
                    <div>
                        <button id="sendOrderButton" type="submit">완료</button>
                    </div>

                    {% for key, value in meat_order_list.items %}
                    {{key}} :  <input type="number" name="{{key}}" value="{{value}}"><br/>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</section>
<br/>
{% load static %}
{% include 'form_base.html' %}
<script src="{% static 'js/order.js' %}"></script>
</body>
</html>