<div class="ui stackable center aligned vertically grid" id="orderNav">
    <div class="two column row" style="border: 2px solid #FFFFFF;padding: 20px; margin: 20px">
        <div class="five wide column"
             style="border: 2px solid #FFFFFF;padding: 20px; background-color:rgba(0, 0, 0, 0.4);">
            <div>지훈이의 추천</div>
            <div style="border: 2px solid #FFFFFF;padding: 20px; background-color:rgba(0, 0, 0, 0.6);">
                <div class="ui left icon input">
                    <input type="number" placeholder="남자 인원수">
                    <i class="male icon"></i>
                </div>
                <div class="ui left icon input">
                    <input type="number" placeholder="여자 인원수">
                    <i class="female icon"></i>
                </div>
                <div>
                    <div class="ui ui radio checkbox"><input type="radio" name="example">
                        <label>적당하게</label>
                    </div>
                    <div class="ui ui radio checkbox"><input type="radio" name="example">
                        <label>푸짐하게</label>
                    </div>
                </div>
                삼겹 1개 & 목살 1개를
                추천해드립니다
            </div>
            <div style="border: 2px solid #FFFFFF;padding: 5px;">적용하기</div>
        </div>
        <div class="ten wide column"
             style="border: 2px solid #FFFFFF;padding: 20px; background-color:rgba(255, 255, 255, 0.4);">
            <div>주문정보를 작성해주세요</div>
            <div style="border: 2px solid #FFFFFF;padding: 20px; background-color:rgba(0, 255, 0, 0.8);">
                <div>이름연락처</div>
                <div>EmailPassword</div>
                <div>고기수령날짜배달장소</div>
                <div>고기수량
                    삼겹 7800 x
                    목살 8000 x
                </div>
                <div>총금액
                </div>
            </div>
            <div>주문하기</div>
        </div>
    </div>
</div>
