<div class="ui stackable center aligned vertically grid" id="orderNav">
    <div class="two column row highlight-border">
        <div class="five wide column highlight-white-text black-board">
            <h2>지훈이의 추천</h2>
            <div class="deep-black-board">
                <div class="ui stackable center aligned grid">
                    <div class="one column row">
                        <div class="column item">
                            남자 인원수
                            <div class="ui mini right icon input" style="width:55%">
                                <input type="number">
                                <i class="male icon"></i>
                            </div>
                        </div>
                        <div class="column item">
                            여자 인원수
                            <div class="ui mini right icon input" style="width:55%">
                                <input type="number">
                                <i class="female icon"></i>
                            </div>
                        </div>
                        <div class="column item">
                            <div class="ui radio checkbox"><input type="radio" name="size">
                                <label style="color: #FFFFFF;">적당하게</label>
                            </div>
                            <div class="ui radio checkbox"><input type="radio" name="size">
                                <label style="color: #FFFFFF;">푸짐하게</label>
                            </div>
                        </div>
                        <div class="column item">
                            삼겹 1개 & 목살 1개를
                            추천해드립니다.
                        </div>
                    </div>
                </div>
            </div>
            <div style="font-size: 150%; margin: 5%">적용하기</div>
        </div>
        <div class="ten wide column white-board">
            <h2><span class="highlight-text ">주문정보</span>를 작성해주세요.</h2>
            <div class="deep-white-board">
                <div class="ui stackable left aligned grid">
                    <div class="two column row">
                        <div class="column item">
                            이름
                            <div class="ui mini input" style=" width:55%">
                                <input type="text" placeholder="박예림">
                            </div>
                        </div>
                        <div class="column item">
                            연락처
                            <div class="ui mini input" style="width:55%">
                                <input type="text" placeholder="010-1234-1234">
                            </div>
                        </div>
                        <div class="column item">
                            Email
                            <div class="ui mini input" style=" width:55%">
                                <input type="email" placeholder="kyoje11@gmail.com">
                            </div>
                        </div>
                        <div class="column item">
                            Password
                            <div class="ui mini input" style="width:55%">
                                <input type="password" placeholder="************">
                            </div>
                        </div>
                        <div class="column item">
                            고기수령날짜
                            <div class="ui mini input" style=" width:55%">
                                <input type="text" placeholder="박예림">
                            </div>
                        </div>
                        <div class="column item">
                            배달장소
                            <div class="ui mini input" style="width:55%">
                                <input type="text" placeholder="한성대">
                            </div>
                        </div>
                        <div class="column item">
                            고기수량
                            <div style="text-align: right">
                                <span class="highlight-text">삼겹</span>
                                7800 X 10
                            </div>
                            <div style="text-align: right">
                                <span class="highlight-text">목살</span>
                                7800 X 10
                            </div>
                        </div>
                        <div class="column item">
                            <h2>
                                총금액
                                <div style="text-align: right">10000000원</div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div style="font-size: 150%; margin: 5%">주문하기</div>
        </div>
    </div>
</div>
