<!DOCTYPE html>
<html>
<head>
    <head>
        <title>Jihun's MT Meat</title>
        {% include 'head.html' %}
        {% load static %}
    </head>
</head>
<body>

{% include 'nav_bar.html' %}
<!-- About Section -->
<section class="success" id="about">
    <br>
    <div class="container">
        <h2 class="text-center">주문 정보</h2>
        <hr class="star-light">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <h3>주문자 정보</h3>
                {{ orderer.username }} <br/>
                {{ orderer.email }} <br/>
                {{ orderer.phone_number }} <br/><br/>
            </div>
            <div class="col-lg-4 mx-auto">
                <h3>주문 내역</h3>
                {% for meat_order in meat_order_list %}
                {{ meat_order.meat_price.name }} {{ meat_order.count }}근 <br/>
                {% endfor %}<br/>
            </div>
            <div class="col-lg-4 mr-auto">
                <h3>입금 정보</h3>
                우리은행 <br/>
                1002-750-309142 <br/>
                최지훈 <br/>

                <br/>
                <h3>입금 상태</h3>
                {{ deposit_status }}

            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
</body>
</html>