<!DOCTYPE html>
<html>
<head>
    <title>Jihun's MT Meat</title>
    {% include 'head.html' %}
    {% load static %}
</head>
<body>

<div id="login">
    {% include 'nav_bar.html' %}
    <div id="view-order" class="highlight-border">
        <div class="white-board">
            <h2>{{ orderer.name }}님의 <span class="highlight-text">주문 내역</span>입니다.</h2>
            입금 정보 : [우리은행] 최지훈 1002-750-309142
            <div class="deep-white-board">
                <div class="ui stackable left aligned grid">
                    <div class="five column row">
                        <div class="column item">
                            수령 날짜
                        </div>
                        <div class="column item">
                            고기 수량
                        </div>
                        <div class="column item">
                            총 금액
                        </div>
                        <div class="column item">
                            상태
                        </div>
                        <div class="column item">
                            배달 장소
                        </div>
                        {% for order in orders %}
                            <div class="column item">
                                {{ order.eating_date }}
                            </div>
                            <div class="column item">
                                {% for meat_order in order.meat_orders %}
                                    <span class="highlight-text">{{ meat_order.meat_price.name }}</span> X {{ meat_order.count }}개 <br/>
                                {% endfor %}
                            </div>
                            <div class="column item">
                                {{ order.get_amount }}원
                            </div>
                            <div class="column item">
                                {{ order.get_order_status_display }}
                            </div>
                            <div class="column item">
                                {{ order.delivery_location }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}
</body>
</html>