@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

#mainTitle {
    background-image: url("/static/img/meat.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#meatOrder {
    height: 600px;
    background-color: #FFFFFF;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.meatInfo {
    height: 400px;
    width: 20%;
    margin: 20px;
}

.meatInfo p {
    margin: 15px;
}

.meatInfo h3 {
    margin: 0;
    padding: 0;
}

#mainNav a {
    font-family: 'Hanna', sans-serif;
    color: white;
    font-size: 150%;
}

#orderNav {
    background-image: url("/static/img/meat.jpg");
    background-size: cover;
}

body {
    font-family: 'Hanna', sans-serif;
    font-size: 100%;

}
h2{
    font-family: 'Hanna', sans-serif;
    font-size: 150%;
}

.highlight-text {
    color: #711010;
}
.highlight-white-text {
    color: #FFFFFF;
}

.highlight-border {
    border: 1.5px solid #FFFFFF;
    padding: 20px 0px 20px 0px;
    margin: 20px 50px 20px 50px;
}

.white-board{
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.5);
}

.deep-white-board{
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.8);
}

