@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

#mainTitle {
    background-image: url("/static/img/meat2.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

#mainTitle h1 {
    color: #FFFFFF;
    margin-top: 350px;
    letter-spacing: 10px;
}

#navBar {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#navBar a{
    color: #FFFFFF;
    font-family: 'Hanna', sans-serif;
    font-size: 120%;
}

#meatOrder {
    background-color: #FFFFFF;
    text-align: center;
    margin: 20px 100px 100px 100px;
}

.meatInfoBox {
    width: 20%;
    margin: 20px;
}

.meatInfoBox p {
    margin: 15px;
}

.meatInfoBox h3 {
    margin: 0;
    padding: 0;
}

#order {
    background-image: url("/static/img/meat.jpg");
    background-size: cover;
}

#order input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #0f0f10;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 30%;
}

#order .white {
    border-bottom-color: #FFFFFF;
    color: #FFFFFF;
}

#order div .input-box {
    padding-left: 30px;
}

#order label {
}

#login {
    background-image: url("/static/img/meat2.png");
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#login .highlight-border {
    padding: 0;
    height: 730px;
}

#login .white-board {
    margin: 30px;
    padding: 30px;
    padding-top: 50px;
    height: 670px;
}

#login .deep-white-board {
    margin: auto;
    padding: 60px 0px 80px 30px;
    width: 500px;
    height: 450px;
}
#view-order .deep-white-board {
    margin: auto;
    padding: 60px 0px 80px 30px;
    width: 100%;
    height: 450px;
}


#login .input-box {
    width: 400px;
    height: 85px;
    margin-top: 15px;
}

#login .input-box .input-label {
    margin-top: 10px;
    padding-right: 15px;
    font-size: 140%;
    width: 150px;
    float: left;
    text-align: right;
}

#login .input-box div {
    width: 250px;
    float: right;
}

body {
    font-family: 'Hanna', sans-serif;
    font-size: 170%;
}

h2 {
    font-weight: normal;
    font-family: 'Hanna', sans-serif;
    font-size: 150%;
    font-weight: normal;
}
h3 {
    font-family: 'Hanna', sans-serif;
    font-size: 130%;
    font-weight: normal;
}


.h2-kr {
    font-weight: normal;
    font-family: 'Hanna', sans-serif;
    font-size: 140%;
}

.highlight-text {
    color: #711010;
}

.highlight-white-text {
    color: #FFFFFF;
}

.highlight-border {
    border: 1.5px solid #FFFFFF;
    padding: 20px 0px 20px 0px;
    margin: 20px 30px 20px 50px;
}

.white-board {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.deep-white-board {
    padding-left: 20px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.8);
}

.black-board{
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.4);
}

.deep-black-board{
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.6);
}


.item{
    padding: 3%;
}
